<!doctype html>
<html>
<head>  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Declarative UI in Angular.Js</title>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
  <style type="text/css">
  .invalid-tweet {
    background-color: pink;
  }
  </style>

</head>
<body ng-app="myApp">
  <div ng-controller="TextAreaLimitController" class="container">
   <form class="form-horizontal">
    <div class="form-group">
      <label for="tweet" class="control-label">Tweet</label>
      <div>
        <input type="textarea" class="form-control col-lg-8" id="tweet" placeholder="Enter your tweet here.." ng-model="tweet" ng-class="{ 'invalid-tweet' : !isValidTweet() }">
      </div>
    </div>
    <div class="form-group">
      <span>Remaining characters : {{remainingCharacters()}}</span>
    </div>
    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <button type="submit" class="btn btn-default" ng-click="submit()" ng-disabled="!isValidTweet()">Sign in</button>
      </div>
    </div>    
  </form>
</div>
<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
<script src="declarative-ui.js"></script>
</body>
</html>